<script type="text/javascript">
    function validateForm()
    {
        var price=document.getElementById('price').value;
        document.getElementById('price').value=price.replace(/,/g,'.');

        if(document.getElementById('title').value != '' && document.getElementById('title').value != '' && document.getElementById('price').value != '' && isNaN(document.getElementById('price').value) === false && document.getElementById('size').value != '')
        {
			var size = document.getElementById('size').value;
			{literal}var n = size.test(/^[0-9]{,3}x[0-9]{,3}x[0-9]{,3}$/);{/literal}
			if(n== true){
				document.getElementById("offer").submit();
			}			
			else
			{
				alert('Wprowadzono zły format wymiarow');
			}
        }
        else
        {
            alert('Wprowadzono złe dane');
        }

		
		
		
    }
</script>
<div class="row">



    <div class="col-md-9">

		<p style="color:red;">{$message}</p>

			
        <form method="POST" action="" id="edit">
            <fieldset>
                    <legend>Add offer</data></legend>

                    <input type="hidden" name="logino" value="{$profileData->id}">
                    
                    <table style="font-size: 14px;">
						<tr>
							<td style="padding : 10px;">Title:</td>
							<td> 
								<input id="title" type="text" name="title">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Description :</td>
							<td> 
								<input id="desc" type="text" name="description">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">PicturePath :</td>
							<td> 
								<input id="pic" type="text" name="picturePath">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Buy now price :</td>
							<td> 
								<input id="pricebn" type="text" name="buyNowPrice">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Minimal price :</td>
							<td> 
								<input id="pricemin" type="text" name="minPrice">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Weight :</td>
							<td> 
								<input id="weight" type="text" name="weight">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Size :</td>
							<td> 
								<input id="size" type="text" name="size">  Format: num 'x' num 'x' num 
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Shipment :</td>
							<td> 
								<input id="ship" type="text" name="shipment"> 
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Category :</td>
							<td> 
								<input id="cat" type="text" name="category">
							</td>
						</tr>
						<tr>
							<td></td><td style="padding : 10px;">
								<button onClick="validateForm();">Dodaj ofertę</button>
							</td>
						</tr>
					</table>
                    
                    
                    
                    
                </fieldset>
							
				
				
            
        </form>			
			
			
			
			
			
			
			



    </div>


</div>
