<div class="row">



    <div class="col-md-9">

				<p style="color:red;">{$message}</p>


            <form method="POST" action="">
                <fieldset>
                    <legend>Add offer</legend>
                    <input type="hidden" name="id" value="{$profileData->id}">
                    Title: <input type="text" name="title"><br>
                    description : <input type="text" name="description"><br>
                    picturePath : <input type="text" name="picturePath"><br>
                    buyNowPrice : <input type="text" name="buyNowPrice"><br>
                    <input type="submit" value="Dodaj Ofert"><br>
                </fieldset>
            </form>



    </div>


</div>
