<script src="{$dirWww}appl_serwis/view/script/validateFields.js"></script>
<div class="row">



		<div class="col-md-9">

				<p style="color:red;">{$message}</p>

        <form method="POST" action="" id="edit">
            <fieldset>
                <legend>Edit your information</data></legend>

                    
                    
                    <table style="font-size: 14px;">
						<tr>
							<td style="padding : 10px;">First name:</td>
							<td> 
								<input  id="fname"  type="text" name="fname" value="{$profileData->firstName}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Last name:</td>
							<td> 
								<input id="lname" type="text" name="lname" value="{$profileData->lastName}">
								<input type="hidden" name="loginu" value="{$profileData->login}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Email:</td>
							<td> 
								<input id="email" type="text" name="email" value="{$profileData->email}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">City:</td>
							<td> 
								<input id="city" type="text" name="city" value="{$profileData->city}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Address:</td>
							<td> 
								<input id="address" type="text" name="address" value="{$profileData->address}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Zip code:</td>
							<td> 
								<input id="zipc" type="text" name="zipc" value="{$profileData->zipCode}">
							</td>
						</tr>
						<tr>
							<td style="padding : 10px;">Phone number:</td>
							<td> 
								<input id="phone" type="text" name="phone" value="{$profileData->phone}">
							</td>
						</tr>
						<tr>
							<td></td><td style="padding : 10px;">
								<button onClick="validateForm();">Zmień</button>
							</td>
						</tr>
					</table>
                    
                    
                    
                    
                </fieldset>
							
				
				
            
        </form>
            



		</div>

</div>
