
<style type="text/css">
    /* Enhance the look of the textarea expanding animation */
    .animated {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }
    .stars {
        margin: 20px 0;
        font-size: 24px;
        color: #d17581;
    }
</style>
<div class="row">

    <div class="col-md-9">
        <div class="thumbnail2">
            <img src="{$offer->picture_path}" alt="" style=" width: 200px; align : 'center';"> 
            <div class="caption-full">
                <h4 class="pull-right">Buy now price: {$offer->prices->buy_now_price} {$offer->prices->currency}<br><br>
                Best price: <p id="bestPrice">{$offer->prices->best_price} {$offer->prices->currency}</p></h4>
                {if $smarty.session.logged == true}
                <form id="bidForm" action="{$dirWww}serwis/users/sendBid/" method="POST"><input type="hidden" name="offerId" value="{$offer->id}"><input id="prajs" type="text" name="price" class="form-control"></form><button onClick="validat();">Bid!</button>
                {/if}
                <h4><a href="">{$offer->title}</a></h4>
                <p>{$offer->description}</p>
            </div>

        </div>

    </div>

</div>

<script>
    function validat()
    {
        var price=document.getElementById("bestPrice").innerHTML;
        price=price.split(' ');
        if( document.getElementById("prajs").value == '' ||
            price[0] >= document.getElementById("prajs").value)
        {
            alert('Wrong bidding price!');
        }
        else
        {
            document.getElementById("bidForm").submit();
        }
    }

    {literal}setInterval(function() {
        $.ajax({
            url: {/literal}'{$dirWww}serwis/users/AJAXGetBestPrice/',{literal}
            data: { offerId: {/literal}'{$offer->id}'{literal} },
            success: function(data) {
                document.getElementById("bestPrice").innerHTML=data;
            },
            type: 'POST'
        });
    }, 5000);{/literal}
</script>