<div class="row">


<div class="col-md-9">


Imię: {$profileData->firstName}<br>
Nazwisko: {$profileData->lastName}<br>
Email: {$profileData->email}<br>
<br><br>
Użytkownik wystawił:<br><br>
<table border="1px solid" style="border: 1px solid">
    <tr>
        <th>Tytuł</th>
        <th>Zdjęcie</th>
        <th>Data</th>
    </tr>
{foreach $profileData->userOffers as $i}
    <tr>
        <td>{$i->title}</td>
        <td><img width="100" src="{$i->picturePath}"></td>
        <td>{$i->finishedAt}</td>
    </tr>
{/foreach}
</table><br>
    <br><br>

Użytkownik otrzymał następujące komentarze:<br><br>
<table>
    <tr>
        <th>Komentarz</th>
        <th>Ocena</th>
        <th>Data</th>
    </tr>
    {foreach $profileData->comments as $i}
    <tr>
        <td>{$i->comment}</td>
        {if $i->positive == 1}
            <td>POZYTYWNY</td>
        {else}
            <td>NEGATYWNY</td>
        {/if}
        <td>{$i->createdAt}</td>
    </tr>
    {/foreach}
</table>



</div>


</div>
